.bgimg-1 {
  background-img: url("BG-Far-01.png");
  min-height: 100%;
}

.bgimg-2 {
background-image: url("BG-Mid-02 copy.png");
    min-height: 400px;
}

.bgimg-2 {
background-image: url("BG-For-02.png");
    min-height: 400px;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
