body {
  background: linear-gradient(150deg, #4F5354 0%, #6A87A3 51%, #AB5349 75%);
  overflow-x: hidden;
}

p {
  font-family: 'Acme';
  font-size: 2em;
  font-style: italic;
  padding: 20px;
  text-align: center;
  color: white;
  text-shadow: 4px 2px 10px #000000;
}
@media only screen and (max-width: 500px){
  p {
    font-size: 1em;
  }
}
.navbar {
  margin: auto;
  padding-top: 20px;
  font-size: 22px;
  font-family: 'Bangers';
  text-align: center;
  height: 60px;
  color: white;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; 
  left: 0;
  width: 100%; /* Full width */
  cursor: pointer;
  z-index: 99;
}

.navbar a {
  float: center;
  color: white;
  font-size: 22px;
  font-family: 'Bangers';
  text-align: center;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

div.headtop {
  background-color: #AB5349;
  border-radius: 25px;
  padding: 40px;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  font-family: 'Acme';
  font-size: 3em;
  font-style: italic;
  text-align: center;
  color: white;
  text-shadow: 4px 2px 10px #000000;
  box-shadow: 4px 2px 10px #000000;
  transition: opacity 3s ease, width 2s ease;
}
  
div.one {
  background-color: #FFF4E9;
  border-radius: 25px;
  padding: 40px;
  margin-top: 500px;
  margin-bottom: 100px;
  margin-right: -400px;
  margin-left: 30%;
  transition: transform 5s ease, opacity 2s ease;
  box-shadow: 4px 2px 10px #000000;
}

div.two {
  background-color: #FFF4E9;
  border-radius: 25px;
  padding: 40px;
  margin-top: 500px;
  margin-bottom: 100px;
  margin-right: 30%;
  margin-left: -400px;
  transition: transform 5s ease, opacity 2s ease;
  box-shadow: 4px 2px 10px #000000;
}

div.small-window {
  background-color: #FFF4E9;
  opacity: 0%;
  border-radius: 25px;
  padding: 40px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  transition: opacity 2s ease;
  box-shadow: 4px 2px 10px #000000;
}

@media only screen and (max-width: 800px) {
  .one {
    margin-right:-200px;
    padding: 60px;
  }
  .two {
    margin-left:-200px;
    padding: 60px;
  }
}
@media only screen and (max-width: 600px) {
  .one {
    margin-right:-150px;
    padding: 70px;
  }
  .two {
    margin-left:-150px;
    padding: 70px;
  }
}
@media only screen and (max-width: 500px) {
  .one {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 25px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%
  }
  .two {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 25px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }
}
div.inner-left {
 margin-left: 30%;
 }
div.inner-right {
 margin-right: 30%;
 }
 @media only screen and (max-width: 500px) {
   .inner-left {
     margin: 0px;
     width: 90%;
   }
   .inner-right {
     margin: 0px;
     width: 90%
   }
}
